<!DOCTYPE html>
<html lang="en">

<head>
    <title>Goals Details</title>
</head>

<body>
    <h4> Currently Logged in as {{current_user}} - <span class="group">{{group}}</span></h4>
    <div class="goaldetail">
        <h2>GOAL DETAILS</h2>
        <p>Goal ID: {{goals.goal_id}}</p>
        <p>Goal Name: {{goals}}</p>
        <p>Goal Status: {{goals.goal_status}}</p>

    </div>


    {% if form.errors %}
    <p>
        <strong> All Fields are requireds, please try again.</strong>
    </p>
    {% endif %}


        <form action="" method="POST">
            {% csrf_token %}
            <legend>Move Goal Form</legend>
            {{ form.as_p }}
                <button type="submit">Move Goal</button>
        </form>
</body>

</html>